body{
  background-color: #212121;
}

body, html, h1, ul, a {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.canvas-container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  width: 100%;
  height: 100%;
  top: 40px;

}

.myCanvas{
  /*border: solid red 1px; */
  position: absolute;
  margin-right: 100px;
  z-index: 1; 
}


.canvas-container h2 {
  position: absolute;
  color: wheat;
  z-index: 0;
  font-weight: 500;
}


p {
  font-size: 150px;
  font-weight: 700;
  color: white;
  text-align: center;
}
