.toolbar{
    background-color: #3A3737;
    border: 1px solid black;
    border-radius: 0px;
    height: 460px;
    position: fixed;
    width: 4em;
    top: calc(50vh + 25px);
    z-index: 2;
    transform: translate(0, -50%);
    filter: drop-shadow(0px 0px 1px #000000);

}

.toolbar-container{
    height: 100%;
    width: 100%;
}

.toolbar ul {
    padding: 0;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.toolbar a {
    position: relative;
    margin: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

.toolbar a:hover {
    background-color: #242424;
    border-radius: 3px;
}

.toolbar a.active {
    background-color: #242424;
    border-radius: 3px;
}

.color-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.color{
    height: 20px;
    width: 20px;
    background-color: red;
}

.text-adjust {
    display: inline-flex;
    background-color: #3A3737;
    justify-content: start;
    align-items: center;
    color: white;
    border-radius: 0px;
    height: 40px;
    position: fixed;
    width: 30%;
    top: 0%;
    left: 70%;
    z-index: 3;
}

.text-adjust i {
    position: relative;
    top: 2px
}


.text-adjust li {
    list-style: none;
    margin-inline: 7px;
    padding: 5px;
}

.text-adjust li:hover {
    background-color: aliceblue;
    cursor: pointer;
    background-color: #707070;
    border-radius: 5px;

}

.color-picker input {
    border: none;
    padding: 0;
    margin: 0;
    background-color: #3A3737;
}